/* =======================================================
FOOTER 
======================================================= */

footer {
    background-color: var(--color-secondary);
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  footer a {
    text-decoration: none;
    color: inherit;
  }
  
  footer a:hover {
    text-decoration: underline;
  }
  
  footer .MuiIconButton-root {
    color: white;
  }
  
  footer .MuiIconButton-root:hover {
    color: var(--color-primary);
  }